@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Big Shoulders Display";
  src: url(./../fonts/assets/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Iceland";
  src: url(./../fonts/Iceland/Iceland-Regular.ttf);
}

@layer base {
  :root {
    --background: #000003;
    --foreground: #e84a4a;

    --muted: #7a7a7a;
    --muted-foreground: #7a7a7a;

    --popover: #e84a4a17;
    --popover-foreground: #e84a4a;

    --card: #e84a4a17;
    --card-foreground: #e84a4a;

    --border: #ffffff21;
    --input: #010103;

    --primary: #e84a4a;
    --primary-foreground: #000000;

    --secondary: #000000;
    --secondary-foreground: #e84a4a;

    --accent: #e84a4a17;
    --accent-foreground: #e84a4a;

    --destructive: #e84a4a;
    --destructive-foreground: #000000;

    --ring: #e84a4a17;

    --radius: 0.2rem;
  }
}

@layer base {
  body {
    @apply bg-black text-white;
  }

  h1 {
    @apply text-4xl font-extrabold scroll-m-20 lg:text-5xl text-lightRed;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold  first:mt-0 text-lightRed;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold text-lightRed;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold;
  }

  p {
    @apply leading-7;
  }

  blockqoute {
    @apply pl-6 mt-6 italic border-l-2;
  }

  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  .lead {
    color: #eee;
    @apply text-xl;
  }

  .large {
    @apply text-lg font-semibold;
  }

  small {
    @apply text-sm font-medium leading-none;
  }

  .muted {
    color: #eee;
    @apply text-sm;
  }
}

html {
  font-size: 24px;
  background-color: #000003;
  color: white;
  scroll-behavior: smooth;
}

body,
::placeholder {
  font-family: "Iceland", sans-serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
button {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
}

a:hover {
  color: #e84a4a;
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #220101 0%, #e84a4a 50%, #1b0101 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e84a4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #970505;
}
